/* .tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
  border: 1px solid black;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 5px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid black;
}

.tweetBox__imageInput {
  border: none;
  padding: 10px;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
} */

.text-input {
  display: flex;
  border: 0.5px solid lightgray;
  padding: 10px;
  /* box-shadow: 0px 2px 2px 0px lightgray; */
}

.image-container {
  /* border: 1px solid black; */
  border-radius: 50%;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
  /* overflow: hidden; */
}

.form {
  width: 100%;
  /* border: 1px solid black; */
}
